.app {

}

.container{
  margin: 0 auto;
  min-width: 50%;
  width: 70%;
}

/* ----- Head ----- */
.app-head{
  height: 65px;
  background-color: #50e555;
}

.head-left{
  display: inline;
  position: relative;
  top: 5px;
}
.head-left img{
  display: inline;
  height: 50px;
  margin-right: 15px;
}
.head-left h4{
  display: inline;
  color: white;
}

.head-right{
  display: inline;
  float: right;
  width: 150px;
  height: 25px;
}
.head-right h5{
  font-size: 14px;
  color: white;
  float: right;
  position: relative;
  top: 50%;
  display: inline;
  margin-left: 10px;
}
.head-right h5:hover{
  cursor: pointer;
}
.head-right a{
  color: white;
}

/* ------Body------ */

.app-body{

}
.list{
  width: 75%;
  display: inline-block;
}
.crypto-list{
  list-style: none;
  padding: 0;
}

.crypto-list table{
  width: 100%;
}

.crypto-list th{
  color: #0b7f0f;
  font-size: 16px;
  padding: 0;
}
.crypto-list .sortable:hover{
  background-color: #c9ffcb;
  cursor: pointer;
}
.crypto-list .sortable:active{
  background-color: #35c63a;
  color: #a3ffa6;
}

.crypto-currencies td{
  font-size: 14px;
  padding: 0;
}

.crypto-currencies td:last-child{
}

.crypto-list tr:nth-child(even) {
    background-color: #eee;
}

.crypto-list tr:nth-child(odd) {
    background-color: #fff;
}

.down-chev{
  margin: 10px 0;
  border-radius: 5px;
  background-color: #a3ffa6;
  color: #0b7f0f;
  text-align: center;
  font-size: 30px;
}
.down-chev:hover{
  background-color: #c9ffcb;
  cursor: pointer;
}
.down-chev:active{
  background-color: #35c63a;
  color: #a3ffa6;
}

.chat{
  height: 70%;
  position: fixed;
  vertical-align: top;
  width: 25%;
  display: inline-block;
}

.submit-form{
  position: relative;
  bottom: 0;
}

/* ----- Foot ----- */
.app-foot{
  background-color: #50e555;
  color: white;
  padding: 40px 0;
}
.app-foot a{
  color: white;
}
.app-foot h6{
  font-size: 15px;
}

.top-foot h6, .top-foot h6{

}
.general-info{
  width: 25%;
  margin-right: 8.3%;
}
.sub-info{
  width: 25%;
  margin-right: 8.3%;
}
.contact-info{
  width: 25%;
  margin-right: 8.3%;
}
.contact-info h5{
  font-size: 12px;
  line-height: 10px;
}
.contact-info h6{
  line-height: 10px;
}

/* ----------------- */


/* ---Main Green -- #50e555 ---- */
/* ---Dark Green -- #35c63a ---- */
/* ---Lite Green -- #a3ffa6 ---- */
